<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Language Selection</title>
    <link rel="stylesheet" href="../../css/styles.css" />
  </head>
  <body>
    <div class="status-container"></div>
    <div class="container container_padding-top16px">
      <h2 class="title__languageSelection">Choose your preferred language</h2>
      <form action="intro-welcome.html" method="post" id="language-form">
        <div class="language-section">
          <label class="language-card">
            <input type="radio" name="language" value="English" />
            <img src="../../Images/English.png" alt="English" />
            <p class="language-label">English</p>
          </label>
          <label class="language-card">
            <input type="radio" name="language" value="French" />
            <img src="../../Images/French.png" alt="French" />
            <p class="language-label">French</p>
          </label>
        </div>
        <div class="language-section">
          <label class="language-card">
            <input type="radio" name="language" value="Arabic" />
            <img src="../../Images/Arabic.png" alt="Arabic" />
            <p class="language-label">Arabic</p>
          </label>
          <label class="language-card">
            <input type="radio" name="language" value="German" />
            <img src="../../Images/German.png" alt="German" />
            <p class="language-label">German</p>
          </label>
        </div>
        <div class="language-section">
          <label class="language-card">
            <input type="radio" name="language" value="Chinese" />
            <img src="../../Images/Chinese.png" alt="Chinese" />
            <p class="language-label">Chinese</p>
          </label>
          <label class="language-card">
            <input type="radio" name="language" value="Japanese" />
            <img src="../../Images/Japanese.png" alt="Japanese" />
            <p class="language-label">Japanese</p>
          </label>
        </div>
        <button class="continue-button" type="submit">Continue</button>
      </form>
    </div>
    <script src="../../src/script.js"></script>
  </body>
</html>
