<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction</title>
    <link rel="stylesheet" href="../../css/styles.css" />
  </head>
  <body>
    <div class="status-container"></div>
    <div class="container">
      <div class="welcome-page">
        <img
          class="welcome-page__logo"
          src="../../Images/Logo.png"
          alt="Logo"
        />
        <div class="welcome-page__messages">
          <div class="welcome-page__message__who">
            <div class="welcome-page__message__title">Who?</div>
            <div class="welcome-page__message__content">
              Food4Kids helps local children facing chronic hunger and don't
              consistently get enough food to stay healthy over a long time.
            </div>
          </div>
          <div class="welcome-page__message__what">
            <div class="welcome-page__message__title">What?</div>
            <div class="welcome-page__message__content">
              We deliver nutritious food packages directly to at-risk kids
              during non-school periods.
            </div>
          </div>
          <div class="welcome-page__message__why">
            <div class="welcome-page__message__title">Why?</div>
            <div class="welcome-page__message__content">
              Around 3,000 kids lack regular nourishment, affecting their
              well-being. School programs help, but only during school weeks.
            </div>
          </div>
        </div>
        <div class="welcome-page__buttons">
          <button
            class="welcome-page__buttons__learn-more"
            type="button"
            onclick="location.href='#.html'"
          >
            Learn More
          </button>
          <button
            class="continue-button"
            type="submit"
            onclick="location.href='intro-relation.html'"
          >
            Apply a child for Food4Kids
          </button>
        </div>
      </div>
    </div>
    <script src="../../src/script.js"></script>
  </body>
</html>
