<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You</title>
    <link rel="stylesheet" href="../../css/styles.css" />
  </head>
  <body>
    <div class="status-container"></div>
    <div class="container">
      <div class="close-container">
        <a href="#"><img src="../../Images/close_px.png" alt="close" /></a>
      </div>
      <div class="thank-you-container">
        <div class="thank-you-container-icon">
          <div class="thank-you-container-icon-green">
            <img src="../../Images/Check.png" alt="check" />
          </div>
        </div>
        <div class="thank-you-container-title">Thank You!</div>
        <div class="thank-you-container-subtitle">
          Food4Kids will get in touch with you regarding your application.
        </div>
      </div>
      <button class="continue-button" type="submit">Close</button>
    </div>
    <script src="../../src/script.js"></script>
  </body>
</html>
