<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Family Member Questions</title>
    <link rel="stylesheet" href="../../css/styles.css" />
  </head>
  <body>
    <div class="status-container"></div>
    <div class="container">
      <div class="progress-bar-container">
        <div class="progress-bar">
          <a class="progress-bar__previous"
            ><img
              src="../../Images/navigate_previous.jpg"
              alt="navigate_previous"
          /></a>
          <div class="progress-bar__frame">
            <div class="progress-bar__frame__green__60"></div>
          </div>
        </div>
      </div>
      <form action="#" method="post" class="question-container">
        <h1 class="question-title">How many people live in this home?</h1>
        <div class="question-container__parent__counter">
          <div class="counter-btn" id="decrease">
            <div class="minus"></div>
          </div>
          <input
            type="text"
            id="counter"
            name="house-member"
            value="1"
            readonly
          />
          <div class="counter-btn" id="increase">
            <img src="../../Images/close_24px.png" alt="plus" />
          </div>
        </div>
        <button class="continue-button" type="submit">Continue</button>
      </form>
    </div>
    <script src="../../src/script.js"></script>
  </body>
</html>
