<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Family Member Questions</title>
    <link rel="stylesheet" href="../../css/styles.css" />
  </head>
  <body>
    <div class="status-container"></div>
    <div class="container">
      <div class="progress-bar-container">
        <div class="progress-bar">
          <a class="progress-bar__previous"
            ><img
              src="../../Images/navigate_previous.jpg"
              alt="navigate_previous"
          /></a>
          <div class="progress-bar__frame">
            <div class="progress-bar__frame__green__10"></div>
          </div>
        </div>
      </div>
      <form action="#" method="post" class="question-container">
        <h1 class="question-title">
          Has this child ever gone without food on weekends and school breaks?
        </h1>
        <div class="question-container__parent__Yes-No">
          <label class="question-container__section__Yes-No">
            <input
              type="radio"
              name="without-food-on-weekends"
              value="Yes"
              required
            />
            Yes
          </label>
          <label class="question-container__section__Yes-No">
            <input
              type="radio"
              name="without-food-on-weekends"
              value="No"
              required
            />
            No
          </label>
        </div>
        <button class="continue-button continue-button_noMargin" type="submit">
          Continue
        </button>
      </form>
    </div>
    <script src="../../src/script.js"></script>
  </body>
</html>
