<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrator Questions</title>
    <link rel="stylesheet" href="../../css/styles.css" />
  </head>
  <body>
    <div class="status-container"></div>
    <div class="container">
      <div class="progress-bar-container">
        <div class="progress-bar">
          <a class="progress-bar__previous"
            ><img
              src="../../Images/navigate_previous.jpg"
              alt="navigate_previous"
          /></a>
          <div class="progress-bar__frame">
            <div class="progress-bar__frame__green__80"></div>
          </div>
        </div>
      </div>
      <form action="#" method="post" class="question-container">
        <h1 class="question-title">
          Was the mission of Food4Kids explained to them?
        </h1>
        <div class="question-container__parent__Yes-No_Not-sure">
          <label
            class="question-container__section__Yes-No_Not-sure__yes _Not-sure_clicked-effect"
          >
            <input
              type="radio"
              name="Food4Kids'-mission-explained"
              value="Yes"
              required
            />
            Yes
          </label>
          <label
            class="question-container__section__Yes-No_Not-sure__No _Not-sure_clicked-effect"
          >
            <input
              type="radio"
              name="Food4Kids'-mission-explained"
              value="No"
              required
            />
            No
          </label>
          <label
            class="question-container__section__Not-sure _Not-sure_clicked-effect"
          >
            <input
              type="radio"
              name="Food4Kids'-mission-explained"
              value="Not-sure"
              required
            />
            Not sure
          </label>
        </div>

        <button class="continue-button continue-button_noMargin" type="submit">
          Continue
        </button>
      </form>
    </div>
    <script src="../../src/script.js"></script>
  </body>
</html>
